.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6DB9EF;
    height: 100vh;
}
.todo {
    box-shadow: gray;
    text-align: center; 
    flex-direction: column;  
    background-color: #FEFBF6;
    height: 45vw;
    border: 1px solid grey;
    border-radius: 10px;
    width: 33vw;

}
input {
    width: 25vw;
    padding: 9px;
    border-radius: 5px;
    border: 2px solid grey;
    font-size: 16px;
    font-weight: 540;
}
button {
    padding: 9px 16px;
    background-color: #7D0DC3;
    color: white;
    /* border: 2px solid grey;   */
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
.cut {
    padding: 6px 14px;
    background-color: rgb(233, 41, 41);
    color: white;
    /* border: 1px solid grey; */
    border-radius: 10px; 
    cursor: pointer;
}
#list {
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
margin-right: 10px;
}
.lists {
    background-color: #FFF7F1;
    width: 26vw;
    padding: 4px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 8px;
    border: 1px solid gray;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-right: 30px; 
}
@media screen and (max-width: 600px) {
   .todo {
    height: 70vh;
    width: 70vw;
   }
   .todo h1 {
    font-size: 20px;

   }
   input {
    width: 53vw;
   }
   .lists {
    width: 55vw;
   }
   button {
    padding: 7px 14px;
   }
  }